
#inscr-form {
  display: block;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 30px;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
  color: #fff;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}